html {
    margin-left:30%;
    margin-right:30%;
    background-color: #333333;
    color: white;
}
a {
    color: white;
}
h1 {
    color: #cc342b;
}
#navbar ul{
    list-style-type: none;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
    html {
	margin-left:20%;
	margin-right:20%;
    }
}
@media only screen and (max-width: 900px) {
    html {
	margin-left:10%;
	margin-right:10%;
    }
}
@media only screen and (max-width: 600px) {
    html {
	margin-left:0%;
	margin-right:0%;
    }
}
