html {
    margin: 0;
    padding: 0;
}
body {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    background-color: #333333;
    color: white;
}
a {
    color: white;
}
h1 {
    color: #cc342b;
}
.bar {
    padding-left: 0px;
    padding-bottom: 20px;
}
.bar li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
.bar a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #198844;
    border-style: solid;
    border-color: black;
}
.bar a:hover {
    color: #cc342b;
}
.lvl1 {
    position: absolute;
}
.lvl2 {
    display: none;
    position: relative;
}
.lvl2 {
    padding-left: 0;
}
.lvl2 li {
    display: block;
    margin-right: 0;
}
.lvl2 a {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}
.lvl1:hover .lvl2 {
    display: block;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #198844;
    text-align: center;
}
