html {
    margin-left:20%;
    margin-right:20%;
    background-color: #333333;
    color: white;
}
a {
    color: white;
}
h1 {
    color: #cc342b;
}
.bar li {
    display: inline; 
    padding: 1%;
    text-align: center;
    text-decoration: none;
}
.bar a:hover {
    color: #cc342b;
}
.sub li {
    display: inline; 
    padding: 1%;
    text-align: center;
    text-decoration: none;
}
.sub a:hover {
    color: #cc342b;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #198844;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    html {
	margin-left:10%;
	margin-right:10%;
    }
}
@media only screen and (max-width: 900px) {
    html {
	margin-left:5%;
	margin-right:5%;
    }
}
@media only screen and (max-width: 700px) {
    html {
	margin-left:0%;
	margin-right:0%;
    }
    #navbar a {
	width: 100%;
    }
}
