html {
    margin: 0;
    padding: 0;
}
body {
    max-width: 900px;
    margin-left: max(calc(50% - 450px), 0px);
    background-color: #333333;
    color: white;
}
a {
    color: white;
}
h1 {
    color: #cc342b;
}
.bar * {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}
.bar a:hover {
    color: #cc342b;
}
.lvl1 {
    position: absolute;
}
.lvl2 {
    position: relative;
    display: none;
}
.lvl1:hover .lvl2 {
    display: block;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #198844;
    text-align: center;
}
